* {
    font-family: 'Inter', sans-serif;
}

.banner-image {
    position: absolute;
    height: 669px;
    width: 1440px;
    background: linear-gradient((360deg, #121212 0%, rgba(18, 18, 18, 0) 100%));
    
}

.banner-title {
    position: absolute;
    width: 826px;
    height: 158px;
    margin-top: 150px;
    margin-left: 338px;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 60px;
    text-align: center;
}

.banner-description {
    position: absolute;
    color: #FFFFFF;
    width: 691px;
    height: 56px;
    font-size: 18px;
    font-style: normal;
    margin-top: 328px;
    margin-left: 406px;
    text-align: center;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    position: absolute;
    width: 160px;
    height: 56px;
    margin-top: 414px;
    margin-left: 671px;
    background: #FF5959;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: larger;
    border-color: #FF5959
}

.section-title {
    position: absolute;
    margin-top: 825px;
    margin-left: 605px;
    font-weight: 700px;
    font-size: 45px;
    text-align: center;
}

.section-description {
    position: absolute;
    height: 92px;
    width: 691px;
    margin-top: 919px;
    margin-left: 375px;
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    color: #707070;
}

.btn-100 {

    position: absolute;
    width: 120px;
    height: 75px;
    margin-left: 362px;
    margin-top: 1022px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #707070;
    box-sizing: border-box;
    background: #FAFAFA;
    border-radius: 5px;
    padding-top: 20px;
}

.btn-200 {
    position: absolute;
    width: 120px;
    height: 75px;
    margin-left: 518px;
    margin-top: 1022px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #FF5959;
    box-sizing: border-box;
    background: #FFEEEE;
    border-radius: 5px;
    border: 2px solid #FF5959;
    padding-top: 20px;
}

.btn-500 {

    position: absolute;
    width: 120px;
    height: 75px;
    margin-left: 675px;
    margin-top: 1022px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #707070;
    box-sizing: border-box;
    background: #FAFAFA;
    border-radius: 5px;
    padding-top: 20px;
}

.btn-1000 {

    position: absolute;
    width: 120px;
    height: 75px;
    margin-left: 825px;
    margin-top: 1022px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #707070;
    box-sizing: border-box;
    background: #FAFAFA;
    border-radius: 5px;
    padding-top: 20px;
}

.btn-5000 {

    position: absolute;
    width: 120px;
    height: 75px;
    margin-left: 980px;
    margin-top: 1022px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #707070;
    box-sizing: border-box;
    background: #FAFAFA;
    border-radius: 5px;
    padding-top: 20px;
}
#other-btn{
    position: absolute;
    margin-top: 1162px;
    margin-left: 657px;
    margin-bottom: 10;
    font-size: 18px;
    text-align: center;
    color: #b3b3b3;
}
#line{
    position: absolute;
    width: 765px;
    height: 0;
    margin-left: 338px;
    margin-top: 1200px;
    border: 1px solid #dadada;
}
.donate-btn{
    margin-left: 640px;
    width: 160px;
    height: 56px;
    padding: 16px, 12px;
    margin-top: 1230px;
    margin-bottom: 20px;
    margin-left: 671px;
    background: #FF5959;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: larger;
    border-color: #FF5959
}
.main-section-title {
    text-align: center;
    margin-bottom: 20px;
    
    font-weight: 700px;
    font-size: 45px;

}
.main-section-description {
    text-align: center;
    width: 691px;
    height: 56px;
    margin-left: 375px;
    font-weight: 400px;
    font-size: 18px;
    color: #707070;
}
.donate-plan{
    display: flex;
    gap: 24px;
    margin-bottom: 50px;
    
}
.food-plan{
    border-radius: 5px;
    background:  rgba(79, 157, 166, 0.1);
    margin-left: 110px;
    padding: 12px 22px 54px 23px;
}
.shelter-plan{
    border-radius: 5px;
    background:  rgba(255, 89, 89, 0.1);
    padding: 12px 22px 54px 23px;

}
.education-plan{
    border-radius: 5px;
    background:  rgba(233, 198, 127, 0.1);
    margin-right: 157px;
    padding: 12px 22px 54px 23px;
}
.plan-title{
    font-weight: 600px;
    font-size: 24px;
    color: #121212;
    margin-top: 30px;
    margin-bottom: 16px;

}
.plan-description{
    font-weight: 400px;
    font-size: 16px;
    color: #707070;
}
.icon{
    margin: 36px 280px 0px 28px;
   
}
.contribute-section{
    display: flex;
    margin-left: 110px;
    margin-right: 98px;
    box-sizing: border-box;
}
.description-box-left{
    margin-right: 83px;

}
.description-box-right{
    margin-left: 83px;
}
.contribution-image1{
    width: 630px;
    height: 477px;
    margin-bottom: 50px; 
}
.contribution-image2{
    width: 630px;
    height: 477px;
    margin-bottom: 50px;
    
}
.description-title{
    font-weight: 700px;
    font-size: 45px;
}
.description{
    text-align: justify;
    font-weight: 400px;
    font-size: 18px;
    color: #707070;
}
.contribute-btn{
    
    align-items: center;
    padding: 16px 12px;
    background: #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: larger;
    border-color: #FF5959;
}